<?php
return array(
    'cookie' => array(
        'name' => 'e2410',
        'domain' => '.' . $_SERVER['HTTP_HOST'],
        'path' => '/',
        'secure' => false,
        'expire' => 99999999
    ),
    'db' => array(
        'type' => 'mysqli',
        'host' => 'mysql',
        'name' => 'events',
        'username' => 'root',
        'password' => 'root',
        'prefix' => '',
        'p_connect' => false
    ),
    'PHPMailer' => array(
        'Mailer' => 'smtp',
        'Host' => 'maildev:25',
        'From' => 'robot@events.local',
    ),
    'set_language_by_geoip' => false,
    'dbg' => array(
        'actualDate' => '2022/05/10 11:00', // Emulate date. Format: Y/m/d H:i
        'userId' => -1,
    ),
);