<?php
return array(
    'db' => array(
        'type' => 'mysqli',
        'host' => 'mysql',
        'name' => 'events',
        'username' => 'root',
        'password' => 'root',
        'prefix' => '',
        'p_connect' => false
    ),
    'PHPMailer' => array(
        'Mailer' => 'smtp',
        'Host' => 'maildev:25',
        'From' => 'robot@ie35.local',
    ),
    'set_language_by_geoip' => false,
    'dbg' => array(
        'actualDate' => '2022/05/10 11:00', // Emulate date. Format: Y/m/d H:i
        'userId' => 1,
    ),
);