/* Lang */
html[lang="en"] .hidden-lang-en {
    display: none;
}

html[lang="ru"] .hidden-lang-ru {
    display: none;
}

#page-content {
    padding-top: 70px;
    padding-bottom: 1em;
}

#page-content .breadcrumb {
    padding: 0;
    background-color: inherit;
}

.badge-platform {
    background-color: #6e3731;
}

.badge-format {
    background-color: #31606e;
}

/* index page */
h2.index-head {
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}

/* Comments on index and `all comments` pages */
.card-comment {
    border: none !important;
}

.card-comment .blockquote {
    font-size: 1rem !important;
}

@media (min-width: 992px) {
    .card-comment {
        flex-direction: row !important;
    }

    .card-comment IMG {
        width: 200px !important;
        margin-bottom: auto !important;
        padding-bottom: 1em !important;
        border-radius: 0 !important;
    }

    IMG.no-screenshot {
        opacity: 25%;
    }

    [data-bs-theme="dark"] IMG.no-screenshot {
        opacity: 5%;
    }

    HR.comment-delimiter {
        display: none;
    }
}

@media (max-width: 991px) {
    IMG.no-screenshot {
        display: none;
    }
}

/* Timetable */

.table-timetable > tbody > tr > td {
    padding: 5px;
}

.table-timetable > tbody > tr:first-child > td{
    border-top: none;
}

.table-timetable .td-dt {
    vertical-align: middle;
    font-weight: bold;
    text-align: right;
    font-size: 120%;
}

.table-timetable .td-place {
    text-align: center;
    vertical-align: middle;
}

.table-timetable .td-place SPAN {
    display: block;
}

/* Work */

.w-640 {
    width: 640px;
    max-width: 100%;
}

.work-container .badge-place {
    background-color: #512172;
}

.work-container .badge-vts {
    font-size: 100% !important;
    background-color: #512172;
}

.work-container .author-note {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 640px;
    max-width: 100%;
}

.work-container .links {
    margin-top: 5px;
    margin-bottom: 5px;
}

.work-container .links .item {
    display: inline-block;
    margin-right: 16px;
    white-space: nowrap;
}

.work-container .links .icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background: url("icons-16x16.png?20240927");
}

[data-bs-theme="dark"] .work-container .links .icon {
    background: url("icons-16x16-dark.png?20240927");
}

audio {
    width: 100%;
}

.work-container .img-container IMG {
    max-width: 100%;
}

@media (max-width: 768px) {
    .work-container .img-container IMG {
        width: 100%;
    }

    .work-container IFRAME {
        width: 100%;
        height: 256px;
    }
}

.work-container .btn-vote {
    --bs-btn-hover-color: #3fb618 !important;
    --bs-btn-hover-bg: none !important;
    --bs-btn-hover-border-color: #3fb618 !important;
}

.work-container .btn-vote:not(.active):active {
    color: #9eed84 !important;;
    border-color: #8cd575 !important;
    background-color: unset !important;
}

.work-container .btn-vote.active:active {
    color: #9eed84 !important;;
    border-color: #8cd575 !important;
    background-color: #40752f !important;
}


