/* Lang */
html[lang="en"] .hidden-lang-en {
    display: none;
}

html[lang="ru"] .hidden-lang-ru {
    display: none;
}

#page-content {
    padding-top: 70px;
    padding-bottom: 1em;
}

#page-content .breadcrumb {
    padding: 0;
    background-color: inherit;
}

/* index page */
h2.index-head {
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}

/* Timetable */

.table-timetable > tbody > tr > td {
    padding: 5px;
}

.table-timetable > tbody > tr:first-child > td{
    border-top: none;
}

.table-timetable .td-dt {
    vertical-align: middle;
    font-weight: bold;
    text-align: right;
    font-size: 120%;
}

.table-timetable .td-place {
    text-align: center;
    vertical-align: middle;
}

.table-timetable .td-place SPAN {
    display: block;
}

/* Competition page */

@media (max-width: 768px) {
    .table-compo-status {
        display: none;
    }
}

.table-compo-status > tbody > tr > td {
    border-top: none;
    white-space: nowrap;
}

.table-compo-status td.title {
    text-align: right;
    font-weight: bold;
}

.table-compo-status td.dates {
    width: 100%;
    font-size: 120%;
    position: relative;
    top: -2px;
}

.table-compo-status .label {
    font-size: 110%;
}

@media (min-width: 769px) {
    .compo-status-mobile {
        display: none;
    }
}

.compo-status-mobile .title {
    font-weight: bold;
    font-size: 130%;
}

.compo-status-mobile .label {
    font-size: 110%;
}

.compo-status-mobile .dates {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-size: 110%;
}

/* Work */

.work-container .badge-platform {
    background-color: #6e3731;
}

.work-container .badge-format {
    background-color: #31606e;
}

.work-container .badge-place {
    background-color: #212e72;
}

.work-container .badge-vts {
    font-size: 100% !important;
    background-color: #212e72;
}

.work-container .author-note {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 640px;
    max-width: 100%;
}

.work-container .links {
    margin-top: 5px;
    margin-bottom: 5px;
}

.work-container .links .item {
    display: inline-block;
    margin-right: 16px;
    white-space: nowrap;
}

.work-container .links .icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background: url("icons-16x16.png?20240927");
}

[data-bs-theme="dark"] .work-container .links .icon {
    background: url("icons-16x16-dark.png?20240927");
}

audio {
    width: 100%;
}

.work-container .btn-group {
    width: 640px;
    max-width: 100%;
}

.work-container TEXTAREA.work-comment {
    width: 640px;
    max-width: 100%;
    height: 100px;
}

@media (max-width: 768px) {
    .work-container .img-container IMG {
        width: 100%;
    }

    .work-container IFRAME {
        width: 100%;
        height: 256px;
    }

    .works-media-container .links .item {
        display: block;
    }
}
