.navbar-events {
    background-color: #50341c !important;
}

/* interactions */

.interactions .item {
    display: flex;
    flex-flow: column-reverse;
    margin: 1em 0;
}

.interactions .action {
    margin: 0.1em 0;
    padding: 0.3em 1em;
    background-color: #f4f4f4;
}

[data-bs-theme="dark"] .interactions .action {
    background-color: rgb(36, 40, 45);
}

@media (min-width: 769px) {
    .interactions .action {
        flex-flow: row;
        gap: 0.5em;
    }
}

.interactions .outgoing {
    align-items: flex-end;
}

.interactions .incoming .message, .interactions .outgoing .message {
    width: 70%;
    border-radius: 3px;
    padding: 5px 10px;
}

@media (max-width: 768px) {
    .interactions .incoming .message, .interactions .outgoing .message {
        width: 100%;
    }
}

.interactions .incoming .message {
    color: #222;
    background-color: #cbd0ef;
}

[data-bs-theme="dark"] .interactions .incoming .message {
    color: #fff;
    background-color: #3F51B5;
}

.interactions .outgoing .message {
    color: #222;
    background-color: #d5e4d0;
}

[data-bs-theme="dark"] .interactions .outgoing .message {
    color: #fff;
    background-color: #4a673f;
}

.interactions .action .message {
    color: #222222;
    font-size: 90%;
}

[data-bs-theme="dark"] .action .message {
    color: #bbbbbb;
}

.interactions .author {
    color: #444444;
    font-size: 90%;
    white-space: nowrap;
}

[data-bs-theme="dark"] .interactions .author {
    color: #747474;
}

.interactions .unread-delimiter {
    margin: 1em 0;
}

.interactions .unread-delimiter .message {
    color: #fff;
    background-color: #444;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 1px;
}
